<div *ngIf="openModal" id="screen">
  <div id="modal" (click)="handleClick($event)" class="animated bounceInUp">
    <form #myForm="ngForm" (ngSubmit)="save(myForm.form)" > 
      <h2>{{ modalTitle }}</h2>
      <div>
        <label>Título</label>
        <input type="text" [ngModel]="new.title" name="title"  required>
      </div>
      <div>
          <label>Imagem*</label>
          <input type="text" [ngModel]="new.image" name="image"  required>
        </div>
        <div>
          <label>Link*</label>
          <input  type="text" [ngModel]="new.link" name="link" required>
        </div>
        <div id="description">
            <label>Descrição</label>
            <textarea type="text"  [ngModel]="new.description" name="description" required ></textarea>
            <p>* A noticia pode não possuir a visualização desejada caso os valores sejam inválidos</p>
        </div>
        <div id="formFooter">
          <div id="topic"> 
              <span>Tema: </span>
              <select [ngModel]="new.topic" name="topic" required>
                <option value="esportes">Esportes</option>
                <option value="politica">Política</option>
                <option value="entretenimento">Entretenimento</option>
                <option value="famosos">Famosos</option>
              </select>
            </div>
            <div id="buttons">
              <button (click)="closeModal()">Sair</button>
              <button type="submit">Salvar</button>
            </div>
        </div>
    </form>
  </div>
</div>
